/* google font */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{

    font-family: "Poppins", sans-serif;
}
/* common css*/

.color{
    background-color: rgb(28, 25, 25);  
}
.padding-both{
    padding: 30px 0px;

}

.container{
    width: 1150px;
    margin: auto;
    color: white;
}

.flex-div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.text{
    color: orange;
    font-size: 20px;
    font-weight: 700;
}


 .icon li{
    
    list-style: none;
    margin-left: 21px;
 }
 .icon li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
 }
 .download-cv {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
/* banner section */
.banner-section{
    padding: 10px;
    
}
.second{
    display: flex;
    gap: 3px;

}
.third{
    display: flex;
    gap: 3px;
}
.third-1{
    color:orange;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.turjoy{
    display: flex;
    gap: 6px;
}
.portfolio{
    background-color: #ff6600;
    border-radius: 25px;
    width: 120px;
    

}
.portfolio a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
 }
 .badhan{
    display: flex;
    border-radius: 15px;
    gap: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 250px;
 }
 .social-link{
    
    font-size: 20px;
    color: rgb(153, 141, 141);
    gap: 30px;
    padding:20px 10px;
 }
 /* banner end */
 /* frame */
 .frame{
    display: flex;
    justify-content: space-between;

 }
 .design a{
    color: orange;
    padding: 3px;

 }
 .design-text{
    text-align: right;
 }
 /* frame end */
/* bg */

.left-text{
    width: 50%;

}
.rr-text{
    border-bottom: 1px solid white;
}
/* award */

.award h1{
    text-align: center;
}
.award p{
    text-align: center;
}
.award-text h3,h4{
    display: flex;
    justify-content: space-between;
}
.big{
    
    display: flex;
    justify-content: space-evenly;
}
.big p{
    
    padding-top: 5% ;
}
.small{
    text-align: right;
}
/*  */
.award-texr{
    padding-top: 5%;
}
.award-texr h3,h4{
    display: flex;
    justify-content: space-between;
}
.bir{
    
    display: flex;
    justify-content: space-evenly;
}
.smalr{
    text-align: right;
}




 
 




